{% extends "base-without-sidebar.html" %}
{% load i18n %}
{% block metatitle %}{% trans "Forgot password?" %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    $("#id_email").focus();
  });
</script>
{% endblock %}

{% block main %}
  <h2>{% trans "Forgot password?" %}</h2>

  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <span class="badge badge-important">!</span>
    {{ error }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %}

  <h2>{% trans "Forgotten your password?" %}</h2>
  <p>
    {% blocktrans %}
    Enter your e-mail address below, and we'll e-mail instructions
    for setting a new one.
    {% endblocktrans %}
  </p>

  <form class="form-horizontal"
        action="."
        method="post">
    {% csrf_token %}

    <div class="control-group{% if form.email.errors %} error{% endif %}">
      <label class="control-label"
             for="id_email">
        {% trans "E-mail address" %}
      </label>
      <div class="controls">
        {{ form.email }}
        {% for error in form.email.errors %}
        <span class="help-inline">
          <span class="badge badge-important">!</span>
          {{ error }}
        </span>
        {% endfor %}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary"
                type="submit">
          {% trans "Reset my password" %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
