{% extends "base-without-sidebar.html" %}
{% load i18n %}
{% load url from future %}
{% block metatitle %}{% trans "Password reset" %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    $("#id_new_password1").focus();
  });
</script>
{% endblock %}

{% block main %}
  {% if validlink %}
  <h2>{% trans "Password reset" %}</h2>

  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <span class="badge badge-important">!</span>
    {{ error }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %}

  <h3>{% trans "New password" %}</h3>
  <p>
    {% blocktrans %}
    Please enter your new password twice so we can verify you
    typed it in correctly.
    {% endblocktrans %}
  </p>

  <form class="form-horizontal"
        action="."
        method="post">
    {% csrf_token %}

    <div class="control-group{% if form.new_password1.errors %} error{% endif %}">
      <label class="control-label"
             for="id_{{ form.new_password1.name }}">
        {% trans "New password" %}
      </label>
      <div class="controls">
        {{ form.new_password1 }}
        {% for error in form.new_password1.errors %}
        <span class="help-inline">
          <span class="badge badge-important">!</span>
          {{ error }}
        </span>
        {% endfor %}
      </div>
    </div>

    <div class="control-group{% if form.new_password2.errors %} error{% endif %}">
      <label class="control-label"
             for="id_{{ form.new_password2.name }}">
        {% trans "Confirm password" %}
      </label>
      <div class="controls">
        {{ form.new_password2 }}
        {% for error in form.new_password2.errors %}
        <span class="help-inline">
          <span class="badge badge-important">!</span>
          {{ error }}
        </span>
        {% endfor %}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary"
                type="submit">
          {% trans "Change my password" %}
        </button>
      </div>
    </div>
  </form>
  {% else %}
  <h2>{% trans "Invalid link" %}</h2>

  <div class="alert alert-error alert-block">
    <p>
      <span class="badge badge-important">!</span>
      {% blocktrans %}
      The password reset link was invalid, possibly because it has
      already been used. Please request a new password reset.
      {% endblocktrans %}
    </p>

    <p>
      <a class="btn" href="{% url "password-reset" %}">
        {% trans "Reset password?" %}
      </a>
    </p>
  </div>
  {% endif %}
{% endblock %}
