{% load compress i18n staticfiles %}{% load url from future %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ site_name }}</title>

  <meta name="title" content="{{ site_name }}" />
  <meta name="author" content="Jonas Nockert" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

  {% block feeds %}{% endblock %}

  {% compress css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static "bootstrap-3.0.0/dist/css/bootstrap.min.css" %}"
        charset="utf-8" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static "css/behorighet-bootstrap.css" %}"
        media="screen, projection"
        charset="utf-8" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static "css/behorighet-bootstrap-print.css" %}"
        media="print"
        charset="utf-8" />
  {% endcompress %}
  {% block css %}{% endblock %}

  <script type="text/javascript"
          src="{% static "js/modernizr.custom.min.js" %}"
          charset="utf-8"></script>
  {% compress js %}
  <script type="text/javascript"
          src="{% static "js/jquery-1.10.2.min.js" %}"
          charset="utf-8"></script>
  <script type="text/javascript"
          src="{% static "bootstrap-3.0.0/dist/js/bootstrap.min.js" %}"
          charset="utf-8"></script>
  <script type="text/javascript"
          src="{% static "js/chart-0.2.0.min.js" %}"
          charset="utf-8"></script>
  {% endcompress %}
  <script type="text/javascript">
    Modernizr.load({
      test: Modernizr.canvas,
      nope: "{% static "js/excanvas.js" %}"
    });
  </script>
  {% block javascript %}{% endblock %}

  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
