{% load i18n staticfiles %}
{% load url from future %}
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            Behörighetstilldelning
          </a>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 href="#">
                {{ user.get_full_name|default:user.username }}
                <b class="caret">&nbsp;</b>
              </a>
              <ul class="dropdown-menu">
                {% comment %}
                <li>
                  <a href="{% url "user" user.username %}">{% trans "My profile" %}</a>
                </li>
                <li>
                  <a href="{% url "settings" %}">{% trans "Settings" %}</a>
                </li>
                {% endcomment %}
                <li>
                  <a href="{% url "logout" %}?next={{ request.path|urlencode }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">{% trans "Log out" %}</a>
                </li>
                <li class="divider">&nbsp;</li>
                {% comment %}
                {% if user.is_staff or user.is_superuser %}
                <li>
                  <a href="{% url "administration" %}">{% trans "Administration" %}</a>
                </li>
                {% endif %}
                {% endcomment %}
              </ul>
            </li>
            {% else %}
            <li>
              <a href="{% url "login" %}?next={{ request.path|urlencode }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">{% trans "Log in" %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </header>
